@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap");

body {
  background-image: linear-gradient(to right bottom, #bbd2c5, #536976, #292e49);
  background-attachment: fixed;
}

.container {
  padding-top: 50px;
}

.row {
  height: 90vh;
}

.app-sidebar {
  background-color: #fff;
  height: 100%;
  border-radius: 20px;
  padding: 25px 15px;
}

.app-main-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 15px;
}
