@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap");

body {
  background-image: linear-gradient(to right bottom, #bbd2c5, #536976, #292e49);
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #354548;
}
a:hover {
  text-decoration: none;
  color: #000;
}

.container {
  padding-top: 50px;
}

.row {
  height: 90vh;
}

.app-main-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 15px;
}

/* styling fo side bar from here */
.sidebar {
  background-color: #fff;
  height: 100%;
  border-radius: 20px;
  padding: 25px 15px;
  text-align: center;
}

.sidebar-avatar {
  height: 110px;
  width: 120px;
  object-fit: contain;
  border-radius: 30px;
}

.sidebar-icon {
  width: 25px;
  height: 25px;
}

.sidebar-name {
  font-family: "kaushan script";
  margin: 20px 0;
  font-size: 2rem;
}

.sidebar-name > span {
  color: #8f75eb;
}

.sidebar-item {
  margin-bottom: 6px;
  padding-top: 6px;
  height: 40px;
  font-size: 1.05rem;
}

.sidebar-title {
  background-color: #f1f1f1;
  border-radius: 30px;
}

.sidebar-contact {
  background-color: #dbdddf;
  padding: 2px 0;
  margin: 20px -15px;
}

.sidebar-email {
  background-image: linear-gradient(to right bottom, #bbd2c5, #536976, #292e49);
  border-radius: 30px;
  color: white;
  margin: 15px 25px 0;
  cursor: pointer;
}

.sidebar-email:hover {
  transform: scale(1.2);
  transition: all 3s linear;
}

.sidebar-github:hover,
.sidebar-resume:hover {
  background-color: #f1f1f2;
  color: #000;
}

@media (max-width: 991px) {
  .app-main-content {
    margin: 30px 0;
  }
}
